 {% extends "main.twig" %}
 
 {% block content %}

     <div class='row mt10'>
         <div class='col-xs-12'>
             <div class="well well-sm">
                         <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
                             <span class="story-search">Show me &nbsp;</span>
                             <select name="story" class="form-control story-search-select">
                                 <option value="all">All</option>
                                 <option value="feature">Feature</option>
                                 <option value="bug">Bug</option>
                                 <option value="chore">Chore</option>
                                 <option value="release">Release</option>
                             </select>
                             <span class="story-search">&nbsp; stories for &nbsp;</span>
                             <select name="epic" class="form-control story-search-select">
                                 <option value="all">Everything</option>
                                 <option value="it-epic" selected>IT Department</option>
                             </select>
                         </form>
             </div>
             <div class='panel panel-default'>
                 <div class='panel-heading'>
                     <span class='label label-success pull-right'>Accepted</span>
                     <h3 class='panel-title'>
                         <i class='fa icon-feature'></i>
                         <a href="https://www.pivotaltracker.com/story/show/1234" target="_blank">Get some decaf coffee
                             <small>
                                 <i class='fa fa-external-link ml5'></i>
                             </small>
                         </a></h3>
                 </div>
                 <div class='panel-body' style='overflow: hidden;'>
                     <p class='pl10'>Provide IT department with decaffinated coffee.</p>
                 </div>
             </div>
             <div class='panel panel-default'>
                 <div class='panel-heading'>
                     <span class='label label-warning pull-right'>Work in progress</span>
                     <h3 class='panel-title'>
                         <i class='fa icon-bug'></i>
                         <a href="https://www.pivotaltracker.com/story/show/1234" target="_blank">Someone needs to wash out the percolator
                             <small>
                                 <i class='fa fa-external-link ml5'></i>
                             </small>
                         </a></h3>
                 </div>
                 <div class='panel-body' style='overflow: hidden;'>
                     <p class='pl10'>Need fresh percolated decaffinated coffee.</p>
                 </div>
             </div>
             <div class='panel panel-default'>
                 <div class='panel-heading'>
                     <span class='label label-default pull-right'>Scheduled</span>
                     <h3 class='panel-title'>
                         <i class='fa icon-feature'></i>
                         <a href="https://www.pivotaltracker.com/story/show/1234" target="_blank">We need some cookies
                             <small>
                                 <i class='fa fa-external-link ml5'></i>
                             </small>
                         </a></h3>
                 </div>
                 <div class='panel-body' style='overflow: hidden;'>
                     <p class='pl10'>Decaf Coffee. <br/>
                         Cookie.<br/>
                         Heaven.
                     </p>
                 </div>
             </div>
             <div class='panel panel-default'>
                 <div class='panel-heading'>
                     <span class='label label-info pull-right'>Icebox</span>
                     <h3 class='panel-title'>
                         <i class='fa icon-chore'></i>
                         <a href="https://www.pivotaltracker.com/story/show/1234" target="_blank">Someone has to clean the mess
                             <small>
                                 <i class='fa fa-external-link ml5'></i>
                             </small>
                         </a></h3>
                 </div>
                 <div class='panel-body' style='overflow: hidden;'>
                     <p class='pl10'>Clean the cups, desks and while your at it ... the office.<br/>
                     </p>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}
