<div class="row">
    <div class="well">
        <p><strong>Label</strong></p>

        <div class="input-group">
            <div class="selectbox">
                <label>
                    <select name="label" class="form-control">
                        {% if labels|length > 0 %}
                            <option name="all">All</option>
                        {% for key, label in labels %}
                            <option name="label" value={{ key }}>{{ label }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>

                </label>
            </div>
        </div>

        <p><strong>Story Type</strong></p>

        <div class="input-group" style="margin-bottom: 20px;">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyType[]" value="feature" checked="true">
                    Features
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyType[]" value="bug" checked="true">
                    Bugs
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyType[]" value="chore" checked="true">
                    Chores
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyType[]" value="release">
                    Releases
                </label>
            </div>
        </div>

        <p><strong>Story Status</strong></p>

        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyStatus[]" value="workInProgress" checked="true">
                    Work in Progress
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyStatus[]" value="finished">
                    Finished
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyStatus[]" value="scheduled" checked>
                    Scheduled
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="storyStatus[]" value="icebox">
                    Icebox
                </label>
            </div>
        </div>
    </div>
</div>