{% extends "template.twig" %}

 {% block content %}

     <script type="text/javascript">
         $(document).ready(function () {

             /**
              * Find Stories
              * @param params
              */
             function find(params) {
                 $("#stories").load("stories", {
                     "filters": getFilters()
                 });
             }

             /**
              * Get filters
              *
              * @returns {{}}
              */
             function getFilters() {
                 var filters = {};
                 filters.storyType = [];
                 filters.storyState = [];
                 filters.search = '';

                 $("input[name='storyType[]']:checked").each(function() {
                     filters.storyType.push($(this).val());
                 });

                 $("input[name='storyState[]']:checked").each(function() {
                     filters.storyState.push($(this).val());
                 });

                 filters.search = $("input:text[name='search']").val();

                 return filters;
             }

             // Show inital stories
             find();

             // Filter on checkbox change
             $('input[type="checkbox"]').change(function () {
                 find();
             });

             var delay = (function(){
                 var timer = 0;
                 return function(callback, ms){
                     clearTimeout (timer);
                     timer = setTimeout(callback, ms);
                 };
             })();

             // Filter on search query
             $('input:text[name="search"]').on('input', function() {
                 delay(function(){
                     find();
                 }, 400 );
             });
         });
     </script>

     <div class="container">

         <div class="row" style="margin-bottom: 15px; margin-left: 1px;">
             <div class="input-group">
                 <input type="text" class="form-control" name="search" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
                        </span>
             </div>
         </div>

         <div class="row">
             <div class="col-md-10" id="stories">

             </div>
             <div class="col-md-2">
                 <div class="row">
                     <div class="well">
                         <p><strong>Story Type</strong></p>

                         <div class="input-group" style="margin-bottom: 20px;">
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyType[]" value="feature" checked>
                                     Features
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyType[]" value="bug" checked>
                                     Bugs
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyType[]" value="chore" checked>
                                     Chores
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyType[]" value="release">
                                     Releases
                                 </label>
                             </div>
                         </div>

                         <p><strong>Story Status</strong></p>

                         <div class="input-group">
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyState[]" value="workInProgress" checked>
                                     Work in Progress
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyState[]" value="finished" checked>
                                     Finished
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyState[]" value="scheduled">
                                     Scheduled
                                 </label>
                             </div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="storyState[]" value="icebox">
                                     Icebox
                                 </label>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}