{% extends "template.twig" %}
{% set active_page = "stories" %}
 {% block content %}

     <script type="text/javascript">
         $(document).ready(function () {
             find('stories');
             initFilterHandlers('stories');
         });
     </script>

     <div class="container">

         <div class="row" style="margin-bottom: 15px; margin-left: 1px;">
             <div class="input-group">
                 <input type="text" class="form-control" name="search" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
                        </span>
             </div>
         </div>

         <div class="row">
             <div class="col-md-9" id="stories">
             </div>
             <div class="col-md-3">
                 {% include 'stories/filters.twig' %}
             </div>
         </div>
     </div>
 {% endblock %}