{% for story in stories %}
    {% include 'stories/story.twig' %}
{% endfor %}
<div class="row">
    <ul class="pager">
        <li><a href="#" onClick="location.href='{{ url('stories', {'page': 0})}}'">Previous</a></li>
        <li><a href="#" onClick="location.href='{{ url('stories', {'page': 0})}}'">Next</a></li>
    </ul>
</div>