<div class="row">
    <div class="well">
        <p><strong>Label</strong></p>

        <div class="input-group">
            <div class="selectbox">
                <label>
                    <select name="label" class="form-control">
                        <option name="label" value="all">All</option>
                        {% for label in labels %}
                            <option name="label" value={{ label.label }}>{{ label.description }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <p><strong>Date Range</strong></p>

        <select name="dateRange" class="form-control">
            <option value="anytime">Anytime</option>
            <option value="week">This Week</option>
            <option value="fortnight" selected>Last Fortnight</option>
            <option value="month">Last Month</option>
            <option value="year">Last Year</option>
        </select>
    </div>
</div>